body{
    margin: 0;
    background: rgb(199, 199, 202);
    font-family: 'Josefin Sans', sans-serif;
}


.container{
    width: 80%;
}

.rotatePic {
    -webkit-transform: rotate(90deg);

}


figure.left {
    display: flex;
    align-items: end;
    border: thick silver solid;
    padding-left: 20px;
}

figure.right {
    float: right;
    display: flex;
    align-items: end;
    border: thick silver solid;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

figcaption {
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 40px;
    color: rgb(25, 25, 94);
    font-size: 20px;
}

header {
    background: #55d6aa;
}

header::after{
    content: '';
    display: table;
    clear: both;
}


nav{
    float: left;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav li{
    display: inline-block;
    margin-left: 70px;
    padding-top: 25px;
    padding-bottom: 25px;
    position: relative;
}

nav a{
    color: rgb(53, 53, 53);
    text-decoration: none;

}

nav a:hover{
    color: black;
}

nav a::before{
    content: '';
    display: block;
    height: 5px;
    width: 0%;
    background-color: #444;

    position: absolute;
    top: 0;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

#desc{
    color: rgb(25, 25, 94);
    font-size: 20px;
    margin-left: 100px;
    margin-bottom: 400px;
}

#descMacros {
    color: rgb(25, 25, 94);
    font-size: 20px;
    margin-left: 100px;
    margin-bottom: 450px;
}

#desc2 {
    color: rgb(25, 25, 94);
    font-size: 20px;
    margin-left: 100px;
    margin-top: 50px;
    margin-bottom: 40px;
}


#CADdesc {
    color: rgb(25, 25, 94);
    font-size: 20px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    margin-bottom: 550px;
}

#Circuitrydesc {
    color: rgb(25, 25, 94);
    font-size: 20px;
    margin-left: 100px;
    margin-top: 720px;
    margin-bottom: 550px;
}
